@*@{
    Layout = null;
}*@
@{
    ViewData["Title"] = "About us";
}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us card || Learning robo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/CSS/About.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class = "image">
               <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>BookWebApp works to provide a free service to all the readers around the world.
‍Reading books is an excellent way to stimulate your mind, expand your knowledge, and even help you relax. It can also improve your writing skills, help you develop better communication skills, and even boost your creativity</p>               
            </div>
        </section><br><br>
        </body>
</html>
